<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Website</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
    <ul>
        <div class="logo">
            <img src="../static/th.jpeg" alt="" srcset="">
        </div>
        <li><a href="home">Home</a></li>
        <li><a href="about">about</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="class">Class Info</a></li>
        <li><a href="contact">Contact us</a></li>
      </ul>
    </nav>  
    <section id="introsection">
        <div class="intro-text">
        Welcome to Het's Dance Academy
        <br>
        <div class="quote">
        Eat Sleep Dance Repeat
    </div>
    </div>
    </section>
    <section id="mission">
       <h2> our mission</h2>
       <div class="container">
       <div class="card">
        <h5>Dance the Way you like</h5>
          <div class="card-box">
            <div class="card-img">
                <img src="../static/th (4).jpeg" alt="" srcset="">
            </div>
            <div class="card-content"><p>Academy Provides freedom to Your Dance moves.</p></div>
          </div>
       </div>
       <div class="card">
        <h5>Dance Perfection</h5>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/th (3).jpeg" alt="" srcset="">
                </div>
                <div class="card-content"><p>Makes Your moves perfect through our excellence.</p></div>
              </div>
       </div>
       <div class="card">
        <h5>Expert Teaching</h5>
        <div class="card-box"> 
            <div class="card-img">
                <img src="../static/th (5).jpeg" alt="" srcset="">
            </div>
            <div class="card-content"><p>Training with 200+ experts from the best universities.</p></div>
          </div>
       </div>
    </div>
    </section>
    <section id="sponsersection">
        our sponsors
        <div class="sponsors">
            <img src="
            " alt="">
            <img src="../static/t_500x300 (1).jpeg" alt="">
            <img src="../static/t_500x300.jpeg" alt="">
            <img src="../static/ef27eb63d05f168ce948e3d43c9ba9d0.webp" alt="">
        </div>
    </section>
    <footer>
        <div class="text">
        Copyright &copy; 2020 hetDanceAcad.com All right reserved.
    </div>
    </footer>
   <script src="../static/index.js"></script>
</body>
</html>